html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #ffffff;
  padding-top: 80px;
}

main {
  flex: 1 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -3%;
  color: #262626;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    letter-spacing: -1%;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -3%;
  color: #262626;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
    margin-bottom: 4px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 21px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -3%;
  color: #7a7575;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  h3 {
    font-size: 21px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 18px;
  }
}

h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -3%;
  color: #262626;
}
@media (max-width: 768px) {
  h6 {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  h6 {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer__container {
  height: 100px;
  padding: 20px;
  background: #344c36;
  margin-top: 50px;
}
.footer__title {
  text-align: center;
  color: #ffffff;
}
.footer__social {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.footer__icon {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}
.footer__icon:hover {
  color: #faad1b;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.header__container {
  width: 100%;
  padding: 10px;
  background: #faad1b;
}
.header__title {
  text-align: center;
  color: #262626;
}

.main__container {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #e5e5e5;
  padding: 20px;
  background: #f5f5f5;
}
.main .contact {
  margin-top: 50px;
  width: 100%;
}
.main .contact__container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
@media (max-width: 768px) {
  .main .contact__container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.main .contact__info {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.main .contact__info span {
  color: #faad1b;
  font-style: italic;
}
@media (max-width: 768px) {
  .main .contact__info {
    align-items: center;
    width: 100%;
  }
}
.main .contact__form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .main .contact__form {
    width: 100%;
  }
}
.main .contact__input, .main .contact__textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 18px;
}
.main .contact__textarea {
  resize: vertical;
  min-height: 100px;
}
.main .productos {
  margin-top: 50px;
  width: 100%;
  background: #344c36;
  padding: 20px;
}
.main .productos__container {
  margin: 0 auto;
  padding: 20px;
}
.main .productos__title {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
.main .productos__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 480px) {
  .main .productos__grid {
    grid-template-columns: 1fr;
  }
}
.main .productos .producto {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  text-align: center;
}
.main .productos .producto__img {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .main .productos .producto__img {
    height: 200px;
  }
}
@media (max-width: 480px) {
  .main .productos .producto__img {
    height: 150px;
  }
}
.main .productos .producto__desc {
  font-size: 18px;
  color: #262626;
}

.btn {
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn--primary {
  background-color: #344c36;
  color: #ffffff;
  border: 1px solid #344c36;
}
.btn--primary:hover {
  background-color: #faad1b;
  color: #344c36;
}
.btn--secondary {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #e5e5e5;
}
.btn--secondary:hover {
  background-color: #7a7575;
  color: #ffffff;
}
@media (max-width: 480px) {
  .btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
